modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[deployment]
publicDir = "build"
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "install", "--production"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Shopify App"

[[workflows.workflow]]
name = "Shopify App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --production && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.development]
PORT = "5000"
SHOPIFY_APP_URL = "https://69056475-019c-4afd-99ab-3e756c130572-00-2hyspaatz302i.spock.replit.dev"

[userenv.production]
PORT = "3000"
SHOPIFY_APP_URL = "https://69056475-019c-4afd-99ab-3e756c130572-00-2hyspaatz302i.spock.replit.dev"
